body, html {
  background-color: black;
}
/*GENERAL*/
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}
.centered-text {
  font-size: 24px;
  margin-bottom: 20px;
  color:white;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding:5px;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8075FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: orange;
}
.lower{
  padding-top:20px
}
/*LAYOUT*/
.navbar-star-icon {
  background-color: #8075FF;
  padding: 10px;
  margin-right: 10px;
  font-size: 24px; /* Adjust the size of the star */
}
/* Define a CSS class for the background image */
.bg-image {
  /* Set background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/hemisphere-boreal.jpg');
  /* Set background size */
  background-size: cover;
  /* Set background position */
  background-position: center;
  /* Set background repeat */
  background-repeat: no-repeat;
  /* Set min height to ensure image covers the whole page */
  min-height: 100vh;
}
.body-container {
  margin: 50px;
  color: white;
}
.navbar-custom {
  background-color: black;
}

/*VIEW*/
.const-poster {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

/*LEARN*/
.learn-image {
  max-width: 500px; /* Set maximum width for the images */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure images are displayed as blocks */
  margin-bottom: 50px;
}

.navbar-star-icon {
  background-color: #8075FF;
  padding: 10px;
  margin-right: 10px;
  font-size: 24px; /* Adjust the size of the star */
}



.lightgrey {
  color: #BDBDBE; 
}

.darkgrey {
  color: #5B5B5C; /* Dark grey color for "You made it through the quiz..." */
}

.centered-table {
  margin-left: auto;
  margin-right: auto; /* Centering the table */
}

.centered-table td {
  text-align: left; /* Text inside table cells left-aligned */
}

.high-score {
  font-weight: bold;
  color: #8075FF; /* Accent color and bold for scores above 80% */
}

.aligned-text {
  padding-top: 20px;
  padding-left: 400px;
  text-align: left;
  width: 100%; /* Full width for proper alignment and padding effect */
}

.bigfont {
  font-size: 24px; /* Larger font size for the text */
}

/*
#canvas-container {
  position: relative;
  padding-bottom: 10px;
}

#canvas-container canvas {
  display: block; 
  margin: 0 auto; 
}

.score-table {
  width: 100%;
  border-collapse: collapse;
}
.score-table th, .score-table td {
  padding: 8px;
  text-align: left;
}
.score-table th {
  background-color: #f4f4f4;
  color: black;
}
.score-table td {
  border-bottom: 1px solid #ddd;
}
.score-table .name {
  text-align: left;
}
.score-table .score {
  text-align: right;
}
*/