{% extends "layout.html" %}

{% block content %}
<script>
  var constellationData = {{ item | tojson | safe }};
</script>
<div class="body-container">
    <div class="text-center">
      <h1>Test your knowledge on {{ item['name'] }}</h1>
      <b>This is the quiz page.</b>
      <p>You are connecting so many dots rn it's crazy<p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div id="canvas-container" class="col-md-8"></div>
        <div class="col-md-7">
          <button id="butt-Submit" class="col-3 btn btn-success start-button">Submit</button>
          <button id="butt-Undo" class="btn btn-light">Undo</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}
