{% extends "layout.html" %}

{% block content %}

<div class="centered-text">
<br>
<h1>{{ item['name'] }}</h1>
<br>
Year: {{ item['season'] }}
<br>
Genres: {{ item['hemisphere'] }}
<br>
Number of Stars: {{ item['number of stars'] }}
<br>
Brightest Star: {{ item['brightest star'] }}
<br>
Characteristics: {{ item['characteristics'] }}
<br>
Namesake: {{ item['namesake'] }}
<br>

<div class="button-group">
    <button class="start-button" onclick="location.href=/learn/{{ item.id }}">Next</button>
  </div>
<img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}">

</div>



{% endblock %}