{% extends "layout.html" %}

{% block content %}

<div class="centered-text">
<br>
<h1>{{ item['name'] }}</h1>
<br>
Season: {{ item['season'] }}
<br>
Hemisphere: {{ item['hemisphere'] }}
<br>
Number of Stars: {{ item['number of stars'] }}
<br>
Brightest Star: {{ item['brightest star'] }}
<br>
Characteristics: {{ item['characteristics'] }}
<br>
Namesake: {{ item['namesake'] }}
<br>

<img href="./static/images/cygnus-ss.png" alt="{{ item.name }}">

    <div class="button-group">
        <button class="start-button" onclick="location.href='{{ url_for('view')}}'">Next Constellatoin</button>
    </div>

</div>



{% endblock %}